// COLORS
$color-primary-1: rgb(0, 0, 0);
$color-primary-2: rgb(34, 34, 34);
$color-primary-3: rgb(44, 47, 51);
$color-secondary-1: rgb(255, 255, 255);
$color-secondary-2: rgb(221, 221, 221);
$color-secondary-3: rgb(202, 202, 202);

// STARS AND OTHER SPECIAL ICONS
$color-positive: #006e21;
$color-negative: #6e0000;
$color-special-1: #edc16c;
$color-special-2: #f7931a;
$color-special-3: #ffcc11;

// MESSAGE MANAGER
$msg-container-text: $color-primary-2;
$msg-container-background: $color-secondary-1;
$msg-container-border: $color-primary-1;
$msg-container-success: $color-positive;
$msg-container-error: $color-negative;
$msg-container-alert: $color-special-1;